/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.module-container {
  width: 100%;

  .gutter-sizer {
    width: 2%;
    display: none;
  }

  /* clearfix */
  .module-container:after {
    content: ' ';
    display: block;
    clear: both;
  }

  .module, .module-sizer {
    height: 200px;
    width: 100%;
    /*border: 2px solid #fff;*/
    padding: 2px;
  }

  .module {
    float: left;
    &.wide {
      width: 100%;
      height: 400px;
    }
    &.full {
      width: 100%;
      height: 600px;
    }
    & div.module-box {
      transition: background-color 0.5s ease;
      background-color: #cccccc;
      width: 100%;
      height: 100%;
    }
    & div.module-box:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
    &.is-dragging {
      z-index: 2;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .module-container {
    width: 100%;

    .gutter-sizer {
      width: 2%;
      display: none;
    }

    /* clearfix */
    .module-container:after {
      content: ' ';
      display: block;
      clear: both;
    }

    .module, .module-sizer {
      height: 200px;
      width: 50%;
      /*border: 2px solid #fff;*/
      padding: 2px;
    }

    .module {
      float: left;
      &.wide {
        width: 100%;
        height: 400px;
      }
      &.full {
        width: 100%;
        height: 600px;
      }
      & div.module-box {
        transition: background-color 0.5s ease;
        background-color: #cccccc;
        width: 100%;
        height: 100%;
      }
      & div.module-box:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }
      &.is-dragging {
        z-index: 2;
      }
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .module-container {
    width: 100%;

    .gutter-sizer {
      width: 2%;
      display: none;
    }

    /* clearfix */
    .module-container:after {
      content: ' ';
      display: block;
      clear: both;
    }

    .module, .module-sizer {
      height: 200px;
      width: 25%;
      /*border: 2px solid #fff;*/
      padding: 2px;
    }

    .module {
      float: left;
      &.wide {
        width: 50%;
        height: 400px;
      }
      &.full {
        width: 100%;
        height: 600px;
      }
      & div.module-box {
        transition: background-color 0.5s ease;
        background-color: #cccccc;
        width: 100%;
        height: 100%;
      }
      & div.module-box:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }
      &.is-dragging {
        z-index: 2;
      }
    }
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

.tool-bar-box {
  opacity: 0;
  color: #7c7c7c;
  transition: opacity 0.5s ease-in;
  text-align: right;
  padding: 4px;
}

div.module-box:hover .tool-bar-box {
  opacity: 1;
  text-align: right;
}



