<div class="col-md-12" ng-controller="MainCtrl" id="container">
    <div class="module-container">
        <div class="module-sizer"></div>
        <div class="gutter-sizer"></div>
        <div ng-repeat="item in windowItems" class="module col-md-3" packery-patch-work ng-class="item.size">
            <div class="module-box">
                <div class="tool-bar-box">
                    <i class="fa fa-expand" ng-show="item.size == 'normal'" ng-click="resize($index)" title="Expand"></i>
                    <i class="fa fa-compress" ng-show="item.size == 'full'" ng-click="resize($index)" title="Minimize"></i>
                    <i class="fa fa-arrows-alt" ng-show="item.size == 'wide'" ng-click="resize($index)" title="Expand"></i>
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</div>